
body {
    
    	background-color: #92d6bd;
    }

#top-body {
    
    	margin: auto;
	width: 800px;
    }

#nav-bar {
    
    	margin: auto;
	width: 800px;
    }

#main-body {
	
	margin: auto;
	width: 800px;
    }
#about-me {
	
	background-image: url("myBackground.jpg");
	color: #ecf0e1;
    }
